<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Hakkımızda</h1>

                <h3 class="font-bold no-margins">
                    Proje sahibi / Muhammed Yücedağ
                </h3>
                <small>Bu panelde admin işlermleri yer almaktadır</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs text-center">Son Blog</h1>
                <h4 class="font-bold no-margins">
                    @ViewBag.lastblog
                </h4>
                <small>Tüm Boglar</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 2450,92</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <small>Ürün Tanıtımları ve Reklamlar.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>