@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<h1>Gelen Kutusu</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Subject</td>
            <td>@item.SenderUser.WriteName</td>
            <td>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))</td>
            <td>
                <a href="/message/messagedetails/@item.Id" title="Mesajı Aç" class="btn btn-primary btn-sm">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>